#main-page.main-fade-out {
    opacity: 0;
    transition: none;
}

html, body {
    height: 100%;
    margin: 0;
}

ul {
    margin: 0px;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 74px;
    height: 74px;
    margin: -37px 0 0 -37px;
}

#main-page { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('../Assets/main-background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
    transition: 2s opacity;
    min-height: 100%;
}

.placeholder {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0%;
    right: 0%;
    transform: translate(0%, -50%);
}

#welcome {
    background-color: white;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 74px;
    height: 74px;
    margin: -37px 0 0 -37px;
}

.welcome-text {
    font-size: 25px; 
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
    padding: 15px;
}

.return-text {
    font-size: 20px; 
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
}

a:link {
    color: white;
    text-decoration: none;
    font-style: italic;
}

a:visited {
    color: white;
    text-decoration: none;
    font-style: italic;
}

a:hover {
    text-decoration: underline;
}
